<p id="notice"><%= notice %></p>

<p>
  <strong>Room category:</strong>
  <%= @chef_att_repository.room_category %>
</p>

<%= link_to 'Edit', edit_chef_att_repository_path(@chef_att_repository) %> |
<%= link_to 'Back', chef_att_repositories_path %>
