<p id="notice"><%= notice %></p>

<p>
  <strong>Room category:</strong>
  <%= @chef_att_source.room_category %>
</p>

<%= link_to 'Edit', edit_chef_att_source_path(@chef_att_source) %> |
<%= link_to 'Back', chef_att_sources_path %>
